[buildout]
versions = versions
include-site-packages = false
extensions = mr.developer
# I have this in my default system buildout, enable this if you dont.
# unzip = true

parts =
    python
    django

auto-checkout = *

eggs =
    pillow
    django
    gunicorn
# Enable flup if you want to use fastcgi instead of gunicorn
#    flup


[versions]
pillow = 1.7.5
django = 1.4.3
gunicorn = 0.16.1
# flup = 1.0.2


[sources]
# Sources from repos here. See mr.developer documentation


[logs]
access_log = ${buildout:directory}/log/access.log
instance_log = ${buildout:directory}/log/instance.log
error_log = ${buildout:directory}/log/error.log


[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}


# Site Configurations
[django]
recipe = djangorecipe
project =
settings = settings
# The name of the wrapped manage.py, which will be placed in bin
control-script =
# The path to your project, this should be where your original manage.py is
# located
extra-paths = ${buildout:directory}/{{ PROJECT_DIR_NAME }}/
eggs = ${buildout:eggs}


# Add to parts if you want to use fabric
[fabric-script]
recipe = collective.recipe.template
input = templates/fabtemplate.py
output = ${buildout:directory}/fabfile.py
staging-root =
production-root =


# Add to parts if you want to use compass
[compass-config]
recipe = collective.recipe.template
input = templates/compass_config.rb
output = ${buildout:directory}/config.rb
# This path is the parent dir for your static files. So if your static
# files is located in myproject/website/static/
# then use: project-dir = ${buildout:directory}/myproject/website/
project-dir = ${buildout:directory}/{{ PROJECT_DIR }}

