[buildout]
versions = versions
include-site-packages = false
extensions = mr.developer

parts = 
    python
    django
    fabric-script
    rubygems
    compass-config

auto-checkout = *

develop = {{ PROJECT_DIR }}

eggs = 
    pillow
    django
    flup

[versions]
pillow = 1.7.5
django = 1.3.1
flup = 1.0.2

[sources]
# Sources from repos here. See mr.developer documentation


[rubygems]
recipe = rubygemsrecipe
gems =
    sass==3.1.15
    compass==0.12.1


[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}


## Site Configurations
[django]
recipe = djangorecipe
projectegg = {{ PROJECT_NAME }}
control-script = {{ PROJECT_SCRIPT }}
settings = settings
eggs = ${buildout:eggs}


[fabric-script]
recipe = collective.recipe.template
input = templates/fabtemplate.py
output = ${buildout:directory}/fabfile.py
control-script = ${django:control-script}
staging-root = {{ PATH TO STAGING ROOT }}
production-root = {{ PATH TO PRODUCTION ROOT }}


[compass-config]
recipe = collective.recipe.template
input = templates/compass_config.rb
output = ${buildout:directory}/config.rb
project-dir = {{ YOUR PROJECT DIR}}

