[buildout]
extends = buildout.cfg
parts += gunicorn nginx launcher


[opts]
control-script = ${django:control-script}
username =
server_name =
listen_port =
app_host =
app_port =
media_dir = ${buildout:directory}/media/
workers = 2
# FastCGI options
pidfile = ${buildout:directory}/bin/${opts:control-script}.pid
socketfile = ${buildout:directory}/bin/${opts:control-script}.sock


[gunicorn]
recipe = zc.recipe.egg:scripts
dependent-scripts = true
eggs =
    ${buildout:eggs}
    eventlet
    gunicorn


[nginx]
recipe = collective.recipe.template
input = templates/nginx.conf
output = ${buildout:directory}/nginx/${opts:control-script}.conf


[launcher]
recipe = collective.recipe.template
input = templates/launcher.sh
output = ${buildout:directory}/bin/${opts:control-script}.sh
mode = 755

