
server {
    server_name {{ server_name }};
    listen {{ listen_port }};
    access_log  {{ webapp_logs }}/access.log;
    error_log {{ webapp_logs }}/error.log;

    location ^~ /media/ {
        root {{ webapp_media }};
        expires 31d;
    }

    location ^~ /static/ {
        root {{ webapp_media }};
        expires 31d;
    }

    # Enable if you want to use Gunicorn
    location / {
        proxy_pass http://unix:{{ webapp_socketfile }}:;
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_connect_timeout 600;
        proxy_send_timeout 600;
        proxy_read_timeout 600;
        send_timeout 600;

        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Protocol ssl;
        set_real_ip_from 127.0.0.1;
        real_ip_header X-Forwarded-For;
    }
}
